*{
    padding: 0%;
    margin: 0%;
}



nav,ul,li,a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;
    text-decoration: none;
    background-color: black;
    color: gold;
    padding: 2px;
}

.enterbutton{
    border: none;
    padding: 3px;
    background-color: gold;
color: black;

}


section{
    height: 400px;
    width: 100%px;
    background-color: blue;
    text-align: center;
    margin: 5px;
}


#top-btn{

    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px;
border: none;
background-color: black;
color: white;

}